DB_PASSWORD=change-me
SECRET_KEY=change-me
ADMIN_PASSWORD=change-me
PORT=5001
HOST=0.0.0.0
ENABLE_LIVE_CAPTURE=false
PCAP_MAX_SIZE=209715200
PCAP_PROCESS_SIZE=104857600
MARLINSPIKE_DPI_REPO=https://github.com/riverrisk/marlinspike-dpi.git
MARLINSPIKE_DPI_REF=de7ed06a28096a3da482831bc674ef0652c0e479
MARLINSPIKE_MITRE_REPO=https://github.com/riverrisk/marlinspike-mitre.git
MARLINSPIKE_MITRE_REF=c3583ec2d189b8cde69f2160da6a5e8e5b643f7b
MARLINSPIKE_MALWARE_REPO=https://github.com/riverrisk/marlinspike-malware.git
MARLINSPIKE_MALWARE_REF=e2574a97a7407516a93a452442278ebf8756520a
MARLINSPIKE_MALWARE_RULES_REPO=https://github.com/riverrisk/marlinspike-malware-rules.git
MARLINSPIKE_MALWARE_RULES_REF=f57d56d6d958856452e939116553919a3f64aa31
